$BASE_FONT_COLOR: #4d4d4d
$BLUSH: #B8609A
$DENIM: #606EB8
$EGGPLANT: #684366
$HOVER: #FCF5FC
$INDIGO: #7E60B8
$LIGHT_GREY: #ebebeb
$LIGHT_PINK: #FAEBFC
$LILAC: #AA60B8
$MAUVE: #B8606E
$SEA_GREEN: #7AA293
$WOOD: #B87E60
