/* FONT COLORS */
$BASE_FONT_COLOR: #4d4d4d

/* COLORS */
$MAUVE: #B8606E
$WOOD: #B87E60
$BLUSH: #B8609A
$BLUE: #5063c6
$DENIM: #606EB8
$TEAL: #3e9676
$SEA_GREEN: #7AA293
$LILAC: #AA60B8
$INDIGO: #7E60B8
$LIGHT_PINK: #FAEBFC
$HOVER: #FCF5FC
$EGGPLANT: #684366
$LIGHT_GREY: #e3e3e3
$DARK_GREY: #828282
