@import "constants.sass"
@import "contentPageClasses.sass"

.hljs
  display: block
  overflow-x: auto
  padding: 0.5em
  color: $TEXT_COLOR

.hljs-comment,
.hljs-quote
  color: $COMMENT_COLOR
  font-style: italic

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst
  color: $RETURN_COLOR

.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr
  color: $TURQUOISE

.hljs-string,
.hljs-doctag
  color: $TAG_COLOR

.hljs-title,
.hljs-section,
.hljs-selector-id
  color: $RETURN_COLOR
  font-weight: bold

.hljs-subst
  font-weight: normal

.hljs-type,
.hljs-function,
.hljs-class .hljs-title
  color: $MAGENTA
  font-weight: bold

.hljs-tag,
.hljs-name,
.hljs-attribute
  color: $QUOTE_COLOR
  font-weight: normal

.hljs-regexp,
.hljs-link
  color: $ATTRIBUTE_COLOR

.hljs-symbol,
.hljs-bullet
  color: $GREEN

.hljs-built_in,
.hljs-builtin-name
  color: $BLUE

.hljs-meta
  color: $META_COLOR
  font-weight: bold

.hljs-deletion
  background: $RED

.hljs-addition
  background: $GREEN

.hljs-emphasis
  font-style: italic

.hljs-strong
  font-weight: bold
