@import "constants.sass"
@import "highlight.sass"

a
  color: $INDIGO !important
  font-weight: bold
  text-decoration: none

body
  background-color: #ffffff
  color: $BASE_FONT_COLOR
  font-family: "Avenir Next W02", Helvetica, Arial, sans-serif

code
  color: $WOOD
  font-family: "Source Code Pro", Consolas, Monaco, Courier New, monospace

span
  code
    color: inherit

.align-end
  text-align: end

.align-start
  text-align: start

.center
  text-align: center

.logo
  height: 70px
  width: 60px

#page-content
  h1
    border-bottom-color: $LIGHT_GREY
    border-bottom-style: solid
    border-bottom-width: 1.5px
    font-family: Arial Narrow
    width: auto

  h1, h2, h3, h4
    code
      color: $BASE_FONT_COLOR

  li
    line-height: 1.5

  p
    line-height: 1.5

  pre
    background-color: $LIGHT_GREY
    padding: 15px
    code
      color: $BASE_FONT_COLOR

  summary
    font-style: italic

  summary:focus
    outline-width: 0px

  table
    border-collapse: collapse

  th
    background-color: $LIGHT_PINK

  table, th, td
    border: 1px solid $DARK_GREY
    padding: 15px

  .color-div
    color: $TEAL

  .color-span
    color: $BLUE

  .focused-div
    border: 2px solid $TEAL
    box-shadow: 2px 2px 5px grey

  .focused-span
    border: 2px solid $BLUE
    box-shadow: 2px 2px 5px grey

  .img-and-text
    display: flex
    line-height: 1.7
    img
      box-shadow: 2px 2px 5px $LIGHT_GREY
      margin-right: 20px
      width: 300px

  .output-container
    border: 1px solid $DARK_GREY
    margin: 15px 0px 15px 0px
    padding: 15px

  .profile-img
    border-radius: 50%
    box-shadow: 3px 3px 5px grey
    width: 150px

  .profile-text
    background-color: $LIGHT_PINK
    border-radius: 15px
    box-shadow: 2px 2px 5px $LIGHT_GREY
    color: $DENIM
    margin: -140px 0px 60px 170px
    padding: 15px
    width: fit-content

  .profile-text-author
    color: grey
    font-size: 10pt
    font-style: italic
    margin-top: 20px
