/* THEME COLORS */
.base-font-color {
  color: #4d4d4d !important;
}

.hover-color {
  color: #fadffa !important;
}

/* AURA COLORS */
.red {
  color: #d01f1f;
}

.orange {
  color: #d78552;
}

.yellow {
  color: #f2e122;
}

.green {
  color: #4fc144;
}

.blue {
  color: #2474d7;
}

.indigo {
  color: #5833dc;
}

.violet {
  color: #980ad0;
}

.white {
  white: #ffffff;
}

.gold {
  color: #c7a20d;
}

.magenta {
  color: #b30bad !important;
}

.turquoise {
  color: #39d2cf;
}

.silver {
  color: #968d87;
}

.pink {
  color: #f2c7eb;
}

.brown {
  color: #712518;
}

.gray {
  color: #828282;
}

.black {
  color: #000000;
}

.color-div {
  color: #b95b6b;
}

.color-span {
  color: #54b390;
}

.output-box-div {
  color: white;
  background-color: #7e60b8;
  height: 75px;
  margin: 10px;
  text-align: center;
  width: 100px;
}

/* THEME COLORS */
.base-font-color {
  color: #4d4d4d !important;
}

.hover-color {
  color: #fadffa !important;
}

/* AURA COLORS */
.red {
  color: #d01f1f;
}

.orange {
  color: #d78552;
}

.yellow {
  color: #f2e122;
}

.green {
  color: #4fc144;
}

.blue {
  color: #2474d7;
}

.indigo {
  color: #5833dc;
}

.violet {
  color: #980ad0;
}

.white {
  white: #ffffff;
}

.gold {
  color: #c7a20d;
}

.magenta {
  color: #b30bad !important;
}

.turquoise {
  color: #39d2cf;
}

.silver {
  color: #968d87;
}

.pink {
  color: #f2c7eb;
}

.brown {
  color: #712518;
}

.gray {
  color: #828282;
}

.black {
  color: #000000;
}

.color-div {
  color: #b95b6b;
}

.color-span {
  color: #54b390;
}

.output-box-div {
  color: white;
  background-color: #7e60b8;
  height: 75px;
  margin: 10px;
  text-align: center;
  width: 100px;
}

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #484848;
}

.hljs-comment,
.hljs-quote {
  color: #8ed0ab;
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: #a048c6;
}

.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
  color: #39d2cf;
}

.hljs-string,
.hljs-doctag {
  color: #f2bd7b;
}

.hljs-title,
.hljs-section,
.hljs-selector-id {
  color: #a048c6;
  font-weight: bold;
}

.hljs-subst {
  font-weight: normal;
}

.hljs-type,
.hljs-function,
.hljs-class .hljs-title {
  color: #b30bad;
  font-weight: bold;
}

.hljs-tag,
.hljs-name,
.hljs-attribute {
  color: #ffa3a3;
  font-weight: normal;
}

.hljs-regexp,
.hljs-link {
  color: #8ab1ed;
}

.hljs-symbol,
.hljs-bullet {
  color: #4fc144;
}

.hljs-built_in,
.hljs-builtin-name {
  color: #2474d7;
}

.hljs-meta {
  color: #e89191;
  font-weight: bold;
}

.hljs-deletion {
  background: #d01f1f;
}

.hljs-addition {
  background: #4fc144;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.flex {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  margin: 10px;
}

a {
  color: #39d2cf !important;
  font-weight: bold;
  text-decoration: none;
}

body {
  background-color: #ffffff;
  color: #4d4d4d;
  font-family: "Montserrat Light";
  font-size: 20px;
  margin: 0px;
}

code {
  color: #d78552;
  font-family: "Source Code Pro", Consolas, Monaco, Courier New, monospace;
}

span code {
  color: inherit;
}

strong {
  font-family: "Montserrat Medium";
}

.align-end {
  text-align: end;
}

.align-start {
  text-align: start;
}

.center {
  text-align: center;
}

.logo {
  height: 70px;
  width: 60px;
}

.m-v-25 {
  margin: 25px 0px 25px 0px;
}

#page-content h1 {
  color: #39d2cf;
  font-family: "Montserrat";
  font-size: 48px;
  font-weight: 500px;
  padding: 15px 15px 0px 0px;
}
#page-content h2 {
  border-bottom-color: #828282;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  color: #980ad0;
  font-family: "Montserrat";
  font-size: 40px;
  margin: 25px 0px 0px 0px;
  padding: 15px 15px 0px 15px;
}
#page-content h3 {
  font-size: 36px;
}
#page-content h4 {
  font-size: 30px;
}
#page-content h5 {
  font-size: 26px;
}
#page-content h3, #page-content h4, #page-content h5 {
  border-bottom-color: #968d87;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  color: #980ad0;
  font-family: "Montserrat Bold", Roboto, sans-serif;
  margin: 25px 0px 0px 0px;
  padding: 15px 15px 0px 15px;
}
#page-content li {
  line-height: 1.5;
}
#page-content p {
  line-height: 1.5;
}
#page-content pre {
  background-color: #968d87;
  padding: 15px;
  margin: 5px 0px 15px 0px;
}
#page-content pre code {
  color: #4d4d4d;
}
#page-content summary {
  font-style: italic;
}
#page-content summary:focus {
  outline-width: 0px;
}
#page-content table {
  border-collapse: collapse;
  margin: 35px 0px 35px 0px;
  width: 100%;
}
#page-content th {
  background-color: #f2c7eb;
}
#page-content table, #page-content th, #page-content td {
  border: 1px solid #828282;
  padding: 15px;
}
#page-content .focused-div {
  border: 2px solid #b95b6b;
  box-shadow: 2px 2px 5px grey;
}
#page-content .focused-span {
  border: 2px solid #54b390;
  box-shadow: 2px 2px 5px grey;
}
#page-content .img-and-text {
  display: flex;
  line-height: 1.7;
}
#page-content .img-and-text img {
  box-shadow: 2px 2px 5px #968d87;
  margin-right: 20px;
  width: 400px;
}
#page-content .output-container {
  border: 1.5px solid #968d87;
  margin: 5px 0px 25px 0px;
  padding: 35px;
}
#page-content .profile-img {
  border-radius: 50%;
  box-shadow: 3px 3px 5px grey;
  width: 150px;
}
#page-content .profile-text {
  background-color: #f2c7eb;
  border-radius: 15px;
  box-shadow: 2px 2px 5px #968d87;
  color: #2474d7;
  margin: -140px 0px 60px 170px;
  padding: 15px;
  width: fit-content;
}
#page-content .profile-text-author {
  color: grey;
  font-size: 10pt;
  font-style: italic;
  margin-top: 20px;
}

/*# sourceMappingURL=index.css.map */
