/* FONT COLORS */
/* COLORS */
/* FONT COLORS */
/* COLORS */
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #4d4d4d;
}

.hljs-comment,
.hljs-quote {
  color: #B87E60;
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: #606EB8;
}

.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
  color: #7AA293;
}

.hljs-string,
.hljs-doctag {
  color: #B8606E;
}

.hljs-title,
.hljs-section,
.hljs-selector-id {
  color: #684366;
  font-weight: bold;
}

.hljs-subst {
  font-weight: normal;
}

.hljs-type,
.hljs-function,
.hljs-class .hljs-title {
  color: #AA60B8;
  font-weight: bold;
}

.hljs-tag,
.hljs-name,
.hljs-attribute {
  color: #B8606E;
  font-weight: normal;
}

.hljs-regexp,
.hljs-link {
  color: #7AA293;
}

.hljs-symbol,
.hljs-bullet {
  color: #B8606E;
}

.hljs-built_in,
.hljs-builtin-name {
  color: #606EB8;
}

.hljs-meta {
  color: #B87E60;
  font-weight: bold;
}

.hljs-deletion {
  background: #AA60B8;
}

.hljs-addition {
  background: #7E60B8;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

a {
  color: #7E60B8 !important;
  font-weight: bold;
  text-decoration: none;
}

body {
  background-color: #ffffff;
  color: #4d4d4d;
  font-family: "Avenir Next W02", Helvetica, Arial, sans-serif;
}

code {
  color: #B87E60;
  font-family: "Source Code Pro", Consolas, Monaco, Courier New, monospace;
}

span code {
  color: inherit;
}

.align-end {
  text-align: end;
}

.align-start {
  text-align: start;
}

.center {
  text-align: center;
}

.logo {
  height: 70px;
  width: 60px;
}

#page-content h1 {
  border-bottom-color: #e3e3e3;
  border-bottom-style: solid;
  border-bottom-width: 1.5px;
  font-family: Arial Narrow;
  width: auto;
}
#page-content h1 code, #page-content h2 code, #page-content h3 code, #page-content h4 code {
  color: #4d4d4d;
}
#page-content li {
  line-height: 1.5;
}
#page-content p {
  line-height: 1.5;
}
#page-content pre {
  background-color: #e3e3e3;
  padding: 15px;
}
#page-content pre code {
  color: #4d4d4d;
}
#page-content summary {
  font-style: italic;
}
#page-content summary:focus {
  outline-width: 0px;
}
#page-content table {
  border-collapse: collapse;
}
#page-content th {
  background-color: #FAEBFC;
}
#page-content table, #page-content th, #page-content td {
  border: 1px solid #828282;
  padding: 15px;
}
#page-content .color-div {
  color: #3e9676;
}
#page-content .color-span {
  color: #5063c6;
}
#page-content .focused-div {
  border: 2px solid #3e9676;
  box-shadow: 2px 2px 5px grey;
}
#page-content .focused-span {
  border: 2px solid #5063c6;
  box-shadow: 2px 2px 5px grey;
}
#page-content .img-and-text {
  display: flex;
  line-height: 1.7;
}
#page-content .img-and-text img {
  box-shadow: 2px 2px 5px #e3e3e3;
  margin-right: 20px;
  width: 300px;
}
#page-content .output-container {
  border: 1px solid #828282;
  margin: 15px 0px 15px 0px;
  padding: 15px;
}
#page-content .profile-img {
  border-radius: 50%;
  box-shadow: 3px 3px 5px grey;
  width: 150px;
}
#page-content .profile-text {
  background-color: #FAEBFC;
  border-radius: 15px;
  box-shadow: 2px 2px 5px #e3e3e3;
  color: #606EB8;
  margin: -140px 0px 60px 170px;
  padding: 15px;
  width: fit-content;
}
#page-content .profile-text-author {
  color: grey;
  font-size: 10pt;
  font-style: italic;
  margin-top: 20px;
}

/*# sourceMappingURL=index.css.map */
